@import "../../utils/animations.scss";

@mixin noAnimation() {
    
} 

.cta {

    &__base {
        min-width: 180px;
        height: 50px;
        color: #fff;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 40px;

        .loaded & {
            animation: growLeftRect 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 1.4s;

            .reducedMotion-true &,
            .saveData-true &,
            .connectionSpeed-low &,
            .memoryLevel-low &,
            .cpuLevel-low & {
                animation: none;
            }
        }
    }
    
    &__bg {
        border: 1px solid transparent;
        border-radius: 50px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        background-color: #00041E;
        transition: width 1s ease-in-out;
        position: absolute;
        left: 0;
        z-index: -1;

        .cta-secondary & {
            border-color: white;
        }
    }
  }