.demoHeader__base {
  height: 60px;
  background-color: #fff;
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;

  img {
    margin: 0;
    max-width: initial;
    height: min-content;
  }

  &__logo {
    margin: 0;
  }
}
