---
title: Get Started
layout: layouts/base.njk
permalink: /get-started/
---

{% block content %}
<section class="getStarted">
  <div class="getStarted__base">
    <section class="homeCards">
      {% include "components/main/homeCards.njk" %}
    </section>
  </div>
</section>
{% endblock %}
