---
title: Progressive UX
layout: layouts/base.njk
description: Welcome to the official documentation of ProgUX
---

<section class="homeIntro">
  {% include "components/main/homeIntro.njk" %}
</section>

<div id="cake">
  <img src="../img/cake/cake.png" alt="Cake">
</div>