.accordion {
  &__container {
    width: 100%;
    background-color: var(--button-enble-primary);
    border-radius: 12px;
    margin: 20px 0;
  }

  &__item {
    border-bottom: 2px solid var(--white);

    &:last-child {
      border: none;
    }

    &:last-of-type {

      .accordion__content {
        padding-bottom: 20px;
      }
    }
  }

  &__trigger {
    border-bottom: 2px solid var(--white);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    margin: 0;
    width: 100%;
  }

  &__title {
    color: var(--white);
    font-size: 14px;
  }

  &__icon {
    transition: 0.2s ease-in-out;

    .reducedMotion-true &,
    .connectionSpeed-low &,
    .memoryLevel-low &,
    .cpuLevel-low & {
      transition: none;
    }
  }

  &__panel {
    color: var(--white);
    padding: 0 20px;
    margin: 20px 0;
  }

  &__text,
  &__code {
    font-size: 14px;
  }

  &--close {
    border: none;

    .accordion__icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__text {
    flex: 1;

    @media screen and (min-width: 992px) {
      margin-right: 20px;
    }

    code {
      word-break: break-word;
    }
  }

  &__codeContainer {
    flex: 1;

    @media screen and (min-width: 992px) {
      flex: 2;
    }
  }
}
