.parallax {

  &__base {
    position: relative;
    overflow: hidden;
    height: 500px;

    .reducedMotion-true &,
    .saveData-true &,
    .connectionSpeed-slow &,
    .cpuLevel-low &,
    .memoryLevel-low & {
      display: none;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__image {
    opacity: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(-50%, 100px, 0px);

    @media screen and (min-width: 992px) {
      transform: translate3d(-50%, 200px, 0px);
    }
  }
}
