.aboutUs {

    &__intro {
        padding: 30px 20px;

        @media (min-width: 768px){
            padding: 80px 50px;
        }
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 768px){
            width: calc(50% - 15px);
            align-items: flex-start;
            text-align: left;
            margin-right: 15px;
        }
    }

    &__title {
        display: inline-block;
        width: 56px;
        height: 23px;
        border-bottom: solid 7px rgba(92, 98, 255, 0.5);
        margin: 0 auto 30px;

        @media (min-width: 768px){
            width: 95px;
            height: 35px;
            margin: 0 0 28px; 
        }
    }

    &__introImageContainer {
        display: none;

        @media (min-width: 768px){
            width: calc(50% - 15px);
            display: flex;
            justify-self: center;
            align-items: center;
        }
    }

    &__introImage {
        width: 450px;
    }

    &__cards {
        width: 100vw;
        padding: 30px 20px;
        margin: 0 0 50px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 26px;
        justify-items: center;

        @media (min-width: 768px){
            width: calc(100vw - 80px);
            padding: 40px 30px;
            margin: 0 0 70px 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 70px;
        }

        @media (min-width: 1200px){
            width: calc(100vw - 160px);
            padding: 70px 40px;
            margin-left: 110px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &__card {
        width: 300px;
    }

    &__card1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    &__card2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    &__card3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    &__card4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    &__card5 {
        grid-area: 2 / 2 / 3 / 3;
    }

    &__card6 {
        grid-area: 2 / 3 / 3 / 4;
    }

    &__imgContainer {
        position: relative;
        width: 300px;
        height: 180px;
        border-radius: 12px;
        background-color: var(--white);
        margin-bottom: 20px;
    }
    
    &__twitter {
        width: 40px;
        height: 40px;
        background-color: var(--button-enble-primary);
        border-radius: 0 12px 0 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        & svg {
            fill: var(--very-light-blue);
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 50px;
        width: calc(100vw - 60px);
        height: 100%;
        background-color: var(--color-background-2);
        border-radius: 12px;
        z-index: -1;

        @media (min-width: 768px){
            width: calc(100vw - 160px);
            left: 110px;
        }
    }
}