.blog {
  &__content {
    max-width: 1000px;
    margin: 50px auto;
  }
  
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background:rgba(0,0,0,.8);
    height: 200px;
  }
}