.desGuide {

    &__base {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 12px;
        margin: 20px 20px;
        padding: 30px 0 50px;
        position: relative;
        width: 100%;

        @media (min-width: 768px){
            max-width: 1280px;
            align-items: center;
            margin: 0 0 40px;
            padding: 20px 0 70px;
        }
    }

    &__tabs {
        display: inline-flex;
        padding: 5px;
        border-radius: 20px;
        border: solid 1px var(--very-light-pink);
        background-color: var(--white);
        list-style: none;
        position: sticky;
        top: 20px;
    }

    &__tab {
        display: block;
        font-size: 10px;
        color: var(--button-enble-primary);
        transition: all .4s ease-in-out;

        a {
            display: block;
            padding: 10px;
            width: 100%;
            height: 100%;

            @media (min-width: 768px){
                padding: 10px 20px;
            }
        }

        &--selected {
            color: var(--white);
            border-radius: 18px;
            background-color: var(--button-enble-primary);
        }
    }

    &__section {
        width: 100%;
        padding-top: 40px;

        & > p:first-of-type {
            margin-bottom: 40px;
        }

        @media (min-width: 768px){
            margin-top: 40px;
            padding-top: 20px;
        }

        &:first-of-type {
          padding-top: 0;

          @media (min-width: 768px){
            margin-top: 0;
          }
        }
    }

    &__threeColumns {
      width: 100%;

      @media screen and (min-width: 992px) {
        width: calc(100% * 0.66);
      }
    }

    &__twoColumns {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            margin: 30px 0;
        }
    }

    &__column {
        width: 100%;
        margin-bottom: 20px;

        .placeholder {
            display: block;
            width: 100%;
            height: 150px;
            background-color: white;
            margin: 20px 0;
        }

        @media screen and (min-width: 768px) {
            width: calc(50% - 10px);
            margin-bottom: 20px;
        }

      aside h3 {
        margin-bottom: 10px;
      }

      &--alignCentre {
        text-align: center;
      }

      h3 {
        margin-bottom: 20px;
      }

      &--noHeading {
        margin-top: 20px;
      }
    }

    &__pNoHeader {
      margin-top: 0;
    }

    &__codeBit {
        display: block;
        padding: 20px;
        background-color: var(--white);
        border-radius: 12px;
        font-size: 11px;
        line-height: 2;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            padding: 20px 30px;
            font-size: 14px;
        }

      &--css {
        margin-top: 20px;
      }

      code {
        word-break: break-all;
      }
    }

    &__checkText {
        width: 100%;
        display: flex;
        align-items: flex-start;

      p {
        line-height: 25px;
      }
    }

    &__checkIcon {
        width: 25px;
        height: 25px;
        margin: 20px 15px 0 0;

        @media screen and (min-width: 768px) {
          margin: 20px 30px 0 0;
        }
    }

  &__filepath {
    font-style: italic;
    font-weight: bold;
  }

  &__codeComment {
    opacity: 0.5;
  }

  &__propertiesList {
    list-style: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
