.header {
  &__base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    padding: .375em 1.5em;
    background: white;
    font-weight: 200;
    box-shadow: 0 5px 3px -2px #e4e4e4;
    z-index: 1;
  }

  &__logo {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color:#181818;
    z-index: 2;
  }
}