.header {

  &__base {
    height: 60px;
    background-color: #fff;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 768px) {
      height: 90px;
      margin: 0 30px;
    }

    @media only screen and (min-width: 1024px) {
      height: 110px;
      margin: 0 40px;
    }

    .cta__base {
      display: none;

      @media only screen and (min-width: 1024px) {
        margin-top: 0;
        display: block;
      }
    }
  }

  &__logoContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__logo {
    margin-right: 8px;

    @media only screen and (min-width: 768px) {
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }
  }
}
