.homeCards {

    background-color: #fafafa;

    &__base {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px){
            align-items: flex-start;
        }
    }

    &__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;

        @media (min-width: 768px){
            flex-direction: row;
        }
    }

    &__card {
        width: 300px;
        border-radius: 12px;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.16);
        margin: 30px 0;
        position: relative;

        @media (min-width: 768px){
            margin: 0 10px;

            &:first-of-type {
                margin: 0 10px 0 0;
            }

            &:last-of-type {
                margin: 0 0 0 10px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 193px;
        position: absolute;
        top: 0;
        left: 0;

        &--1 {
            top: -14px;
            background-image: url("../img/getstarted-po.svg");
            background-size: cover;
        }

        &--2 {
            top: 0;
            background-image: url("../img/getstarted-ui.svg");
            background-size: cover;
        }

        &--3 {
            top: 0;
            background-image: url("../img/getstarted-web.svg");
            background-size: cover;
        }
    }

    &__text {
        padding: 220px 16px 40px;

        & p,
        & a {
            font-size: 14px;
            line-height: 1.25;
            margin: 18px 0;
        }
    }
}
