.homeIntro {

    background-image: linear-gradient(75deg, #f2f3ff 20%, #c5d1ff 85%);

    &__base {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 768px){
            width: calc(50% - 15px);
            align-items: flex-start;
            text-align: left;
            margin-right: 15px;
        }
    }

    &__title {
        display: block;
        width: 113px;
        height: 23px;
        border-bottom: solid 7px rgba(92, 98, 255, 0.5);
        margin: 0 auto 30px;

        @media (min-width: 768px){
            width: 183px;
            height: 35px;
            margin: 0 0 28px; 
        }
    }

    &__video {
        display: none;

        @media (min-width: 768px){
            display: block;
            width: calc(50% - 15px);
            border-radius: 12px 12px 0 0;
            background-color: var(--white);
            height: 320px;
            border-bottom: solid 20px #332e2e;
            margin-left: 15px;
        }        
    }
}