.homeCaseStudies {

    background-color: var(--button-enble-primary);
    color: white;

    &__base {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px){
            align-items: flex-start;
        }
    }

    &__cases {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        @media (min-width: 768px){
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0;
        }
        
        @media (min-width: 1024px){
            justify-content: space-evenly;
        }
    }

    &__case {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        
        &:first-child {
            align-items: flex-end;
        }
        
        &:last-child {
            align-items: flex-start;
        }

        @media (min-width: 768px){
            margin: 0;

            &:last-child {
                margin-top: -90px;
            }
        }
    }
    
    &__image {
        width: 280px;
        height: 280px;
        background-size: cover;

        @media (min-width: 768px){
            width: 330px;
            height: 330px;
        }

        @media (min-width: 1200px){
            width: 390px;
            height: 390px;
        }

        &--1 {
            background-image: url("img/demo/user-experience.jpg");
            border-radius: 100% 100% 0 100%;
        }

        &--2 {
            background-image: url("img/demo/getshitdone.png");
            border-radius: 100% 100% 100% 0;
        }
    }

    &__text {
        width: 270px;
        margin-top: 30px;

        & p,
        & a {
            font-size: 14px;
            line-height: 1.25;  
            margin: 18px 0;
        }
    }
}