.menu {

  &__base {
    height: 60px;
    display: flex;
    align-items: center;

    a {
      color: var(--black);
    }
  }

  &__burgerButton {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      width: 24px;
    }

    & > span {
      display: block;
      width: 20px;
      height: 2px;
      left: 8px;
      margin: 4px 0 0;
      border: 1px solid var(--black);

      @media screen and (min-width: 768px) {
        width: 24px;
        margin-top: 5px;
      }
    }

    & > span:nth-child(1) {
      margin-top: 0;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__items {
    display: none;

    @media screen and (min-width: 1024px) {
      display: inline-flex;
      list-style: none;
    }
  }

  &__item {
    margin: 0 20px;
  }
}
