.navigation {
  &__base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: .375em 1.5em;
    background:hsla(0, 0%, 100%, .9);
    font-weight: 200;
    text-align: right;
    box-shadow: 0 5px 3px -2px #e4e4e4;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--primary);
    pointer-events: none;
    transform: translate(-100vw, 0);
    will-change: transform;
    z-index: 1;
  }
}