.navigation {
  &__base {
    position: relative;
    display: flex;
    z-index: 2;
  }

  &__link {
    font-weight: 700;
    text-decoration: none;
    color:#181818;
    margin-left: 1.5em;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--primary);
    pointer-events: none;
    transform: translate(-100vw, 0);
    will-change: transform;
    z-index: 1;
  }
}