html { 
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

li {
  
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}