.startDev {

    &__base {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (min-width: 768px){
            width: calc(50% - 15px);
            align-items: flex-start;
            text-align: left;
            margin-right: 15px;
        }
    }

    &__title {
        display: inline-block;
        width: 100px;
        height: 23px;
        border-bottom: solid 7px rgba(92, 98, 255, 0.5);
        margin: 0 auto 30px;

        @media (min-width: 768px){
            width: 170px;
            height: 35px;
            margin: 0 0 28px; 
        }
    }

    &__introImageContainer {
        display: none;

        @media (min-width: 768px){
            width: calc(50% - 15px);
            display: flex;
            justify-self: center;
            align-items: center;
        }
    }

    &__introImage {
        width: 450px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__description {
        font-size: 14px;
        margin-top: 20px;
    }
}