:root {
  --button-enble-primary: #5C62FF;
  --color-background-2: rgba(191, 191, 191, 0.2);
  --very-light-blue: #d6e2fd;
  --black: #332e2e;
  --white: #fff;
  --very-light-pink: #bfbfbf;
  --blueberry: #3d4697;
  --color-background-3: rgba(214, 226, 253, 0.5);
}
