:root {
  --button-enble-primary: #5C62FF;
  --button-enble-secondary: #E74624;
  --color-background-2: rgba(191, 191, 191, 0.2);
  --very-light-blue: #d6e2fd;
  --black: #332e2e;
  --white: #fff;
  --logo-text: #565656;
  --very-light-pink: #bfbfbf;
}
