.textblock {

  &__base {
    align-items: center;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__content {
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 60px 10px;
    max-width: 600px;
    text-align: center;

    @media screen and (min-width: 992px) {
      margin: 100px 0;
    }
  }
}
