.menu {

  &__base {
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__burgerButton {
    position: relative;
    display: block;
    line-height: 32px;
    border: 2px solid transparent;
    height: 50px;
    padding: 0 20px;

    & > span {
      position: absolute;
      display: block;
      width: 25px;
      height: 4px;
      left: 8px;
      margin: 4px 0 0;
      background-color: #000;
    }

    & > span:nth-child(1) {
      top: 9px;
    }

    & > span:nth-child(2) {
      top: 17px;
    }

    & > span:nth-child(3) {
      top: 25px;
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &__items {
    display: none;

    @media screen and (min-width: 992px) {
      display: inline-flex;
      list-style: none;
    }
  }

  &__item {
    margin: 0 20px;
  }
}
