<div class="banner__base">
    <div class="banner__message">
        <h1 class="banner__title">
            Welcome to Logood
        </h1>
        <p class="banner__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elituis justo nisi amet.
        </p>
        <a class="cta-secondary" href="#">
            {% include "./cta.njk" %}
        </a>
    </div>
</div>  