<div class="cards__base">
    <div class="cards__card">
        <div class="cards__image"></div>
        <div class="cards__text">
            <h3 class="cards__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
    <div class="cards__card">
        <div class="cards__image"></div>
        <div class="cards__text">
            <h3 class="cards__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
    <div class="cards__card">
        <div class="cards__image"></div>
        <div class="cards__text">
            <h3 class="cards__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
</div>
