<nav class="menu__base">
    <span class="menu__burgerButton">
      <span></span>
      <span></span>
      <span></span>
    </span>
  <ul class="menu__items">
    <li class="menu__item">what we do</li>
    <li class="menu__item">who we are</li>
    <li class="menu__item">get in touch</li>
  </ul>
</nav>
