<div class="banner__base">
    <div class="banner__message">
        <h1 class="banner__title">
            Welcome to ProgUX Demo
        </h1>
        <p class="banner__text">
            Here you can try using simulator to test progressively implemented solutions
        </p>
        <a class="cta-secondary" href="#">
            {% include "./cta.njk" %}
        </a>
    </div>
</div>  