<div class="cards__base">
    <div class="cards__card">
        <div class="cards__image cards__image--animations"></div>
        <div class="cards__text">
            <h3 class="cards__title">Try disabling motion and see what happens to animations</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
    <div class="cards__card">
        <div class="cards__image cards__image--dataSaving"></div>
        <div class="cards__text">
            <h3 class="cards__title">How do these teasers look when you set data saving ?</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
    <div class="cards__card">
        <div class="cards__image cards__image--connection"></div>
        <div class="cards__text">
            <h3 class="cards__title">When connection is bad, how should the stage behave ?</h3>
            {% include "./cta.njk" %}
        </div>
    </div>
</div>
