<div class="form__base">
    <div class="form__image"></div>
    <form class="form__form" id="contactUs">
        <h2 class="form__title">Donec cursus porttitor mi in faucibus</h2>
        <input class="form__input" type="text" id="name" name="fname" placeholder="input">
        <input class="form__input" type="text" id="name" name="fname" placeholder="input">
        <input class="form__input" type="text" id="name" name="fname" placeholder="input">
        <button class="form__submit" form="contactUs" type="submit">
            {% include "./cta.njk" %}
        </button>
    </form>
</div>  