<div class="textblock__base">
  <div class="textblock__content">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales.</h2>
    <p>Quisque a nibh enim. Quisque quis efficitur mauris, eu malesuada justo. Sed vel felis augue. Nullam porttitor egestas sapien, ut mollis urna. Quisque eros sapien, fermentum eu elit ac, rutrum facilisis est. Praesent a sagittis justo. Suspendisse id elit sagittis est condimentum porta in et enim. Phasellus in mauris ac nibh rutrum vulputate ac vel quam.</p>
  </div>
</div>
