<div class="textimage__base">
  <div class="textimage__imageContainer">
    <img class="textimage__image" src="../img/demo/getshitdone.png" alt="">
  </div>
  <div class="textimage__text">
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales.
    </h2>
    <p>
      Quisque a nibh enim. Quisque quis efficitur mauris, eu malesuada justo. Sed vel felis augue. Nullam porttitor egestas sapien, ut mollis urna. Quisque eros sapien, fermentum eu elit ac, rutrum facilisis est.
    </p>
  </div>
</div>
