.footer {

  &__base {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00041E;
    color: white;
  }

  &__copyright {
    text-align: center;
    margin: 0 20px;
  }
}
