
<div class="aboutUs__cards">
    <div class="aboutUs__card aboutUs__card--1">
        <div class="aboutUs__imgContainer">
            <img alt="Fabian Krumbholz figure" class="aboutUs__image" src="../img/about-us/fabian.svg">
            <a class="aboutUs__twitter" href="https://www.linkedin.com/in/fabian-krumbholz/">
                <img src="../img/icon_linkedin.svg" width="18" height="18" alt="LinkedIn logo">
            </a>
        </div>
        <p>
            Fabian Krumbholz, Web Performance
        </p>
    </div>
    <div class="aboutUs__card aboutUs__card--2">
        <div class="aboutUs__imgContainer">
            <img alt="Caroline Erize figure" class="aboutUs__image" src="../img/about-us/caroline.svg">
            <a class="aboutUs__twitter" href="https://www.linkedin.com/in/carolineerize/">
                <img src="../img/icon_linkedin.svg" width="18" height="18" alt="LinkedIn logo">
            </a>
        </div>
        <p>
            Caroline Erize, Web Designer
        </p>
    </div>
    <div class="aboutUs__card aboutUs__card--3">
        <div class="aboutUs__imgContainer">
            <img alt="Nikolao Zisis figure" class="aboutUs__image" src="../img/about-us/nikolaos.svg">
            <a class="aboutUs__twitter" href="https://www.linkedin.com/in/nikolaos-zisis/ ">
                <img src="../img/icon_linkedin.svg" width="18" height="18" alt="LinkedIn logo">
            </a>
        </div>
        <p>
            Nikolaos Zisis, Software Engineer
        </p>
    </div>
    <div class="aboutUs__card aboutUs__card--4">
        <div class="aboutUs__imgContainer">
            <img alt="Ines Akrap figure" class="aboutUs__image" src="../img/about-us/ines.svg">
            <a class="aboutUs__twitter" href="https://twitter.com/inesakrap?lang=en">
                <img src="../img/twitter-logo.svg" width="18" height="18" alt="Twitter logo">
            </a>
        </div>
        <p>
            Ines Akrap, Software Engineer
        </p>
    </div>
    <div class="aboutUs__card aboutUs__card--5">
        <div class="aboutUs__imgContainer">
            <img alt="Scott Francis figure" class="aboutUs__image" src="../img/about-us/scott.svg">
            <a class="aboutUs__twitter" href="https://twitter.com/scottf77?lang=en">
                <img src="../img/twitter-logo.svg" width="18" height="18" alt="Twitter logo">
            </a>
        </div>
        <p>
            Scott Francis, Software Engineer
        </p>
    </div>
    <div class="aboutUs__card aboutUs__card--6">
        <div class="aboutUs__imgContainer">
            <img alt="Paula Rufi figure" class="aboutUs__image" src="../img/about-us/paula.svg">
            <a class="aboutUs__twitter" href="https://www.linkedin.com/in/paularufidomingo/">
             <img src="../img/icon_linkedin.svg" width="18" height="18" alt="LinkedIn logo">
            </a>
        </div>
        <p>
            Paula Rufi, UX/UI Designer
        </p>
    </div>
</div>
