<div class="desGuide__base">
  <div class="desGuide__twoColumns">
      <div class="desGuide__column">
          <p class="desGuide__pNoHeader">
            ProgUX is a tool that helps teams to create different levels of experiences. Which experience level we show is decided in the browser based on
          </p>
        <div class="desGuide__checkText">
          <img class="desGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
            the connection speed
          </p>
        </div>
        <div class="desGuide__checkText">
          <img class="desGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
            the device capabilities
          </p>
        </div>
        <div class="desGuide__checkText">
          <img class="desGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
            the user preferences
          </p>
        </div>
      </div>
      <div class="desGuide__column">
        <img src="../img/designer/designer-chart.png" alt="">
      </div>
  </div>
  <div class="desGuide__twoColumns">
    <div class="desGuide__column">
      <h2>How to make it work for your project</h2>
      <p>
        Progressive enhancement is team work. If you plan new features make sure you have a multi functional team discussing them.
      </p>
      <p>
        Barbara Bermes describes a useful method in her book <a class="blueText" href="https://www.sitepoint.com/premium/books/lean-websites">"Lean Websites"</a>.
      </p>
      <p>
        The Web Performance Impact System is a good approach to identify features which might not work well on slow connections or low-end devices.
      </p>
      <p>
        We recommend to use progressive enhancement for all components with 6 points.
      </p>
    </div>
    <div class="desGuide__column">
      <img class="desGuide__columnImg" src="../img/po/project.png" alt="Points reference" title="Points reference">
    </div>
  </div>
  <div class="desGuide__twoColumns">
    <div class="desGuide__column">
      <p>
        We use the following matrix to document the progressive enhancement decisions in our projects.
        <br>
        You can download the table for free to use it in your project as well.
      </p>
      <p>
        The matrix works on a global level to make decisions about animation and web fonts.
        <br>
        But you can also use it to describe different experiences on a feature or component basis.
      </p>
    </div>
    <div class="desGuide__column desGuide__column--noHeading">
      <img class="desGuide__columnImg" src="../img/start/usage-table.png" alt="Usage table" title="Usage table">
    </div>
  </div>
</div>
