<footer>
    <div class="footer__base">
        <div class="footer__socialMedia">
            <h2>Don't miss the latest news</h2>
            <div class="footer__socialIcons">
                <a href="/aboutus" class="footer__socialIcon"><img src="../img/twitter-logo.svg" width="30" height="30" alt="Twitter logo"></a>
                <a href="https://github.com/Netcentric/progux" class="footer__socialIcon"><img src="../img/github-logo.svg" width="30" height="30" alt="GitHub logo"></a>
            </div>
            <span class="footer__bg">
                <span class="footer__rectBg"></span>
                <span class="footer__roundBg"></span>
            </span>
        </div>
        <div class="footer__end">
            <div class="footer__menu">
                <a class="whiteLink" href="/aboutus">About Us</a>
                <a class="whiteLink" href="#">Terms & Conditions</a>
            </div>
            <div class="footer__sponsor">
                Sponsored by <a href="https://www.netcentric.biz/"><img class="footer__ncLogo" src="../img/nc-icon-purple.svg" width="32" height="32" alt="Netcentric logo"></a>
            </div>
        </div>
    </div>
</footer>