<header class="header__base">
  <img class="header__logo" src="../img/main/logo-xs.png" width="98" height="32" alt="">

  {% include "./menu.njk" %}

  <a class="cta__base cta__base--secondary" href="#">
    Visit Demo Page
  </a>
</header>
