<header class="header__base">
  <div class="header__logoContainer">
    <img class="header__logo" src="../img/main/progux-logo.svg" width="32" height="32" alt=""><span>ProgUX</span>
  </div>

  {% include "./menu.njk" %}

  <a class="cta__base cta__base--secondary" href="#">
    Visit Demo Page
  </a>
</header>
