<div class="homeCaseStudies__base">
    <h2>Case Studies</h2>
    <div class="homeCaseStudies__cases">
        <div class="homeCaseStudies__case">
            <div class="homeCaseStudies__image homeCaseStudies__image--1"></div>
            <div class="homeCaseStudies__text">
                <h3>Case Study Title</h3>
                <p>Here, I focus on a range of items and features that we use in life without giving them a second thought.</p>
                <a class="whiteLink" href="#">Visit Case Study</a>
            </div>
        </div>
        <div class="homeCaseStudies__case">
            <div class="homeCaseStudies__image homeCaseStudies__image--2"></div>
            <div class="homeCaseStudies__text">
                <h3>Case Study Title</h3>
                <p>Here, I focus on a range of items and features that we use in life without giving them a second thought.</p>
                <a class="whiteLink" href="#">Visit Case Study</a>
            </div>
        </div>
    </div>
</div>