<div class="homeIntro__base">
  <div class="homeIntro__text">
    <h1>
      The best experience for <span class="homeIntro__title">every user</span>
    </h1>
    <p>
      ProgUX is a lightweight open-source JS Library that helps you to progressively enhance your website based on
      <ul class="homeIntro__list">
        <li class="homeIntro__listItem">connection speed,</li>
        <li class="homeIntro__listItem">device capabilities, and</li>
        <li class="homeIntro__listItem">user preferences.</li>
      </ul>
    </p>
    <a class="cta__base cta__base--primary" href="/demo">
          See it in action
    </a>
  </div>
  <div class="homeIntro__image">
    <img src="../img/progux-demo/progux-demo.png" alt="ProgUX Demo Page">
  </div>
</div>
