<nav class="menu__base">
    <span class="menu__burgerButton">
      <span></span>
      <span></span>
      <span></span>
    </span>
  <ul class="menu__items">
    <li class="menu__item">How it Works</li>
    <li class="menu__item">Case Studies</li>
    <li class="menu__item">GitHub</li>
    <li class="menu__item">Demo Page</li>
  </ul>
</nav>
