<nav class="menu__base">
    <span class="menu__burgerButton">
      <span></span>
      <span></span>
      <span></span>
    </span>
  <ul class="menu__items">
    <li class="menu__item"><a href="#">How it Works</a></li>
    <li class="menu__item"><a href="#">Case Studies</a></li>
    <li class="menu__item"><a href="#">GitHub</a></li>
    <li class="menu__item"><a href="#">Demo Page</a></li>
  </ul>
</nav>
