<div class="poGuide__base">
  <div class="poGuide__twoColumns">
    <div class="poGuide__column">
        <h2>How web performance impact the user experience and the business outcome</h2>
        <p>
          WPO Stats shares a lot of case studies which show the impact web performance has on abandon rates, user engagement, search engine rankings, and conversions. 
        </p>
        <p>
          In the tech industry we are used to work with the newest premium devices and a fast internet connection.
          <br>
          If you check your real user web performance data, you most likely see that a lot of your users aren't this lucky and have a bad experience.
          <br>
          This can have multiple reasons:
        </p>
        <div class="poGuide__checkText">
            <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
            <p>
                People use a mid-tier device (~200 EUR) or a four year old premium device
            </p>
        </div>
        <div class="poGuide__checkText">
            <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
            <p>
              In-App browser users (e.g. Facebook App)
            </p>
        </div>
        <div class="poGuide__checkText">
            <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
            <p>
              Users on a commute or in a store with a slow cellular connection
            </p>
        </div>
    </div>
    <div class="poGuide__column">
      <img class="poGuide__columnImg" src="../img/po/bubble.png" alt="Tech bubble" title="Tech bubble">
    </div>
  </div>
  <div class="poGuide__twoColumns">
    <div class="poGuide__column">
      <h2>Stop compromising</h2>
      <p>
        With progressive enhancement you can deliver different experiences which fit the current user situation.
        <br>
        So you can show a basic version for users on a slow connection or with an older device. 
        <br>
        At the same time you can show a media rich version for premium device user with a fast connection.
      </p>
      <p>
        ProgUX helps you to generate different experiences on the fly based on:
      </p>
      <div class="poGuide__checkText">
          <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
              Connection Speed
          </p>
      </div>
      <div class="poGuide__checkText">
          <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
            Device Capabilities
          </p>
      </div>
      <div class="poGuide__checkText">
          <img class="poGuide__checkIcon" src="../img/icons/checkbox.svg" alt="Check icon" title="Check icon">
          <p>
            User Preferences
          </p>
      </div>
      <p>
        ProgUX uses modern browser APIs to get the data and creates CSS classes and a JS object which can be used by the developers to load different JS and CSS files for different experiences.
      </p>
    </div>
    <div class="poGuide__column">
      <img class="poGuide__columnImg" src="../img/po/stop.png" alt="User experiences" title="User experiences">
    </div>
  </div>
  <div class="poGuide__twoColumns">
    <div class="poGuide__column">
        <h2>How to make it work for your project</h2>
        <p>
          Progressive enhancement is team work. If you plan new features make sure you have a multi functional team discussing them.
        </p>
        <p>
          Barbara Bermes describes a useful method in her book <a class="blueText" href="https://www.sitepoint.com/premium/books/lean-websites">"Lean Websites"</a>.
        </p>
        <p>
          The Web Performance Impact System is a good approach to identify features which might not work well on slow connections or low-end devices.
        </p>
        <p>
          We recommend to use progressive enhancement for all components with 6 points.
        </p>
    </div>
    <div class="poGuide__column">
      <img class="poGuide__columnImg" src="../img/po/project.png" alt="Points reference" title="Points reference">
    </div>
  </div>
  <div class="poGuide__twoColumns">
    <div class="poGuide__column">
        <p>
          We use the following matrix to document the progressive enhancement decisions in our projects.
          <br>
          You can download the table for free to use it in your project as well.
        </p>
        <p>
          The matrix works on a global level to make decisions about animation and web fonts.
          <br>
          But you can also use it to describe different experiences on a feature or component basis.
        </p>
    </div>
    <div class="poGuide__column">
      <img class="poGuide__columnImg" src="../img/start/usage-table.png" alt="Usage table" title="Usage table">
    </div>
  </div>

</div>
