<div class="container">
  <div class="value-proposition">
    <h1>
      Welcome to the Progressive UX demo
    </h1>
  </div>
  <div class="cta-buttons">
    <button class="button-github"><img class="icon invert home-icon" src="../../img/demo/github.svg" alt="GitHub Repository" title="Github Repository" /></button>
    <button class="button-download">Download</button>
  </div>
</div>