---
layout: layouts/demo.njk
title: Demo
templateClass: tmpl-demo
eleventyNavigation:
  key: Demo
  order: 1
---

<section id="banner" data-callback="addSectionClass">
	{% include "../_includes/components/banner.njk" %}
</section>

<section id="cards" data-callback="addSectionClass">
	{% include "../_includes/components/cards.njk" %}
</section>

<section id="parallax" data-callback="moveParallax">
  {% include "../_includes/components/parallax.njk" %}
</section>

<section id="textimage" data-callback="addSectionClass">
  {% include "../_includes/components/textimage.njk" %}
</section>

<section id="textblock" data-callback="addSectionClass">
  {% include "../_includes/components/textblock.njk" %}
</section>
