---
layout: layouts/demo.njk
title: Demo
templateClass: tmpl-demo
eleventyNavigation:
  key: Demo
  order: 1
---

<section id="banner">
	{% include "../_includes/components/banner.njk" %}
</section>

<section id="parallax">
  {% include "../_includes/components/parallax.njk" %}
</section>

<section id="textimage">
  {% include "../_includes/components/textimage.njk" %}
</section>
