---
layout: layouts/demo.njk
title: Demo
templateClass: tmpl-demo
eleventyNavigation:
  key: Demo
  order: 1
---

<section id="introduction">
	{% include "./_stage.njk" %}
</section>

<section id="benefits">
	<div class="container benefits-boxes">
		<div class="benefits-box">
			<img class="benefits-image" src="../img/demo/undraw_note_list_etto.svg" alt="Vanilla HTML is easy to learn" title="Vanilla HTML is easy to learn" />
			<h4>User preferences</h4>
			<div class="benefits-text">
				Elegantly simple and intuitive. Start coding straight away
			</div>
		</div>
		<div class="benefits-box">
			<img class="benefits-image" src="../img/demo/undraw_web_search_eetr.svg" alt="Vanilla HTML has great SEO" title="Vanilla HTML has great SEO" />
			<h4>Network</h4>
			<div class="benefits-text">
				Exceeds Google core web vitals and page speed requirements
			</div>
		</div>
		<div class="benefits-box">
			<img class="benefits-image" src="../img/demo/undraw_segmentation_uioo.svg" alt="Vanilla HTML is performance optimized" title="Vanilla HTML is performance optimized" />
			<h4>Device capabilities</h4>
			<div class="benefits-text">
				High converting template built by leading CRO expert
			</div>
		</div>
	</div>
</section>

<section id="parallax">
  {% include "../_includes/components/parallax.njk" %}
</section>

<section id="tools">
	<div class="container">
		<h2>Design for attributes</h2>
		<div class="features">
			<p>🦅 Prefers Reduced Motion</p>
			<p>🔍 Save-Data</p>
			<p>📈 Do Not Track</p>
			<p>📱 Slow Internet Connection</p>
			<p>🎁 Low Battery Status</p>
			<p>🚀 CPU & Memory</p>
		</div>
	</div>
</section>

<section id="started">
	<div class="container">
		<h3>Easy as 1-2-3</h3>
		<div class="instructions">
			<p>
				<span class="icon-number">1</span> Download the zip and extract the files
			</p>
			<p>
				<span class="icon-number">2</span> Add script to your header
			</p>
			<p>
				<span class="icon-number">3</span> Aaaand Start building faster web
			</p>
			<p class="text-center text-small">
				Docs are available if needed <a href="">Link to docs</a>
			</p>
		</div>
	</div>
</section>

<section id="cta">
	<div class="container">
		<div class="cta-proposition">
			<h2>
				<span class="text-light">Ready to</span> start building faster web?
			</h2>
		</div>
		<div class="cta-buttons">
			<button class="button-github"><img class="icon invert home-icon" src="../img/demo/github.svg" alt="GitHub Repository" title="Github Repository" /></button>
			<button class="button-download">Download</button>
		</div>
		<div class="cta-open-source">
			<p class="text-small text-grey">
				Free, open-source
			</p>
		</div>
	</div>
</section>
